$spacing-low: 1rem;   // 10px
$spacing-mid: 1.5rem; // 15px
$spacing-high: 2rem;  // 20px

$font-low: 1.4rem;   // 14px
$font-mid: 1.6rem;   // 16px
$font-high: 2rem;    // 20px

$border-radius: 0.5rem; // 5px
$border-width: 0.2rem;  // 2px
$box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
